@model IEnumerable<ServiceDeskPro.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inicio de Pagina</h2>
<td>
    @Html.ActionLink("Crear Solicitud", "Create", "Requests" ,new { @class= "btn btn-info"})
</td>

<td>
    @Html.ActionLink("Solicitudes asignadas", "SolucionesAsignada", "Requests", new { @class = "btn btn-info" })
</td>

<td>
    @Html.ActionLink("Solicitudes no asignadas", "SolicitudesSinAsignar", "Requests", new { @class = "btn btn-info" })
</td>

<br />

<div>
    <table class="table table-striped">
        <tr>
            <th>
                <label>Nombre Cliente</label>
            </th>
            <th>
                <label>Tipo de Servicio</label>
            </th>
            <th>
                <label>Codigo de Usuario</label>
            </th>
            <th>
                <label>Fecha de Creacion</label>
            </th>

            <th>
                <label>Descripcion de la solicitud</label>
            </th>
       
            <th>
                <label>Justificacion de la transferencia</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Service.ServiceType)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AdditionalComment)
        </td>

        <td>
            @Html.ActionLink("Editar ", "Edit", "Requests", new { Id = item.Id }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.ActionLink("Detalles ", "Details", "Requests", new { Id = item.Id }, new { @class = "btn btn-success" })
        </td>
        <td>
            @Html.ActionLink("Borrar ", "Delete", "Requests", new { Id = item.Id }, new { @class = "btn btn-danger" })
        </td>

    </tr>
        }

    </table>
</div>